document-single .thumbnail:hover {
  background-color: antiquewhite;
}

.document-title {
  /*display: inline-block;*/
  margin-top: 10px;
}

.document-date > div {
  text-align: right;
  margin-left: 5px;
}

.document-description {
  height: 90px;
}

.document-tools {
  text-align: left;
}
