.project-item .project-caption .project-title {
  display: inline-block;
  margin-top: 10px;
}

.project-item .project-caption .project-date {
  margin-top: 10px;
}

.project-item .project-caption .project-description {
  height: 90px;
}
