<div class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header navbar-right">
      <button class="navbar-toggle" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="document.list" class="navbar-brand" style="padding-top: 7px">
        <i class="fa fa-home fa-2x"></i>
      </a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 50px">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active">
          <a ui-sref="admin">ادمین</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li ng-show="$ctrl.isLoggedIn()">
          <a ui-sref="logout"><i class="fa fa-sign-out fa-rotate-180"></i></a>
        </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="settings">
            <i class="fa fa-user"></i>&nbsp; {{ $ctrl.getCurrentUser().name }}
          </a>
        </li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="login"><i class="fa fa-sign-in"></i></a>
        </li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="signup">
            <i class="fa fa-user-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
